{
	ApplicationName = Messages;
	CFBundleName = Messages;
	CFBundleDisplayName = Messages;
	CFBundleIdentifier = "io.github.gershwin-desktop.Messages";
	CFBundleExecutable = Messages;
	CFBundleVersion = "0.1.0";
	CFBundleShortVersionString = "0.1.0";
	CFBundlePackageType = APPL;
	CFBundleSignature = "????";
	CFBundleIconFile = "Messages.png";
	NSPrincipalClass = NSApplication;
	URL = "https://github.com/probonopd/Messages";
	NSHumanReadableCopyright = "Copyright (c) 2026 Simon Peter. BSD-2-Clause. The Quassel backend contains GPL-3.0 code from iQuassel (Woboq GmbH and contributors) and its GNUstep port (pkgdemon).";
}
